<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


    <div class="seedstarterlist" th:unless="${#lists.isEmpty(allSeedStarters)}">

        <h2 th:text="#{title.list}">List of Seed Starters</h2>

        <table>
            <thead>
            <tr>
                <th th:text="#{seedstarter.datePlanted}">Date Planted</th>
                <th th:text="#{seedstarter.covered}">Covered</th>
                <th th:text="#{seedstarter.type}">Type</th>
                <th th:text="#{seedstarter.features}">Features</th>
                <th th:text="#{seedstarter.rows}">Rows</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sb : ${allSeedStarters}">
                <td th:text="${{sb.datePlanted}}">13/01/2011</td>
                <td th:text="#{|bool.${sb.covered}|}">yes</td>
                <td th:text="#{|seedstarter.type.${sb.type}|}">Wireframe</td>
                <td th:text="${#strings.arrayJoin(
                #messages.arrayMsg(#strings.arrayPrepend(sb.features,'seedstarter.feature.'))
                ,', ')}">Electric Heating, Turf</td>
                <td>
                    <table>
                        <tbody>
                        <tr th:each="row,rowStat : ${sb.rows}">
                            <td th:text="${rowStat.count}">1</td>
                            <td th:text="${row.variety.name}">Thymus Thymi</td>
                            <td th:text="${row.seedsPerCell}">12</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>



    <form action="#" th:action="@{/seedstartermng}" th:object="${seedStarter}" method="post">
        <input type="text" th:field="*{datePlanted}" />
        <div>
            <label th:for="${#ids.next('covered')}" th:text="#{seedstarter.covered}">Covered</label>
            <input type="checkbox" th:field="*{covered}" />
        </div>

        <ul>
            <li th:each="feat : ${allFeatures}">
                <input type="checkbox" th:field="*{features}" th:value="${feat}" />
                <label th:for="${#ids.prev('features')}"
                       th:text="#{${'seedstarter.feature.' + feat}}">Heating</label>
            </li>
        </ul>


        <ul>
            <li th:each="ty : ${allTypes}">
                <input type="radio" th:field="*{type}" th:value="${ty}" />
                <label th:for="${#ids.prev('type')}" th:text="#{${'seedstarter.type.' + ty}}">Wireframe</label>
            </li>
        </ul>


        <select th:field="*{type}">
            <option th:each="type : ${allTypes}"
                    th:value="${type}"
                    th:text="#{${'seedstarter.type.' + type}}">Wireframe</option>
        </select>




    </form>
</body>
</html>